.button__cart {
    border: 1px solid black;
    padding: 5px 8px;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        border-color: $color2;
        background-color: $color2;
        padding: 5px 8px;
        transition: $transition;
    }
    &__image {
        width: 21px;
        padding-right: 5px;
    }
}

.button__blue {
    background-color: $color2;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 6px 8px;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 2*$gutter;
    box-sizing: border-box;
    &:hover {
        background-color: $color1;
        transition: $transition;
    }
}