// TODO stillingar hér

$color1: #ff5000;
$color2: #00b7ff;
$color3: #fffcf2;

$gutter: 20px;

$transition: ease-in-out 200ms;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');

$font1: 'Oswald', verdana, serif;
$font2: 'Open Sans',helvetica, arial, sans-serif;
