header{
  background-color: $color1;
  padding-bottom: 16px;
}

h1{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.header__group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 16px;
}
strong{
  text-decoration: underline;
  font-weight: normal;
}

.header__item{
  margin-right: 10px;
}

.header__link{
  text-decoration: none;
  color: #000000;
}
.header__link:hover{
  color: $color3;
}

.header__cart:hover{
  color: $color3;
}

.header__cart{
  text-decoration: none;
  color: #000000;
  justify-content: flex-end;
}

.header__cart--image{
  width: 25px;
}

.cart__header__position{
  margin: auto;
  width: 50%;
  text-align: center;
}

footer{
  background-color: $color2;
  display: block;
  margin-top: $gutter*2;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__row{
  display: flex;
  flex-direction: row;
}

.footer__group{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: $gutter;
}

.footer__list{
  list-style: none;
  padding-bottom: $gutter;
}

.footer__link{
  text-decoration: none;
  color: $color3;
}
.footer__link:hover{
  color: #000000;
}
.footer__item{
  padding-bottom: 10px;
}

.footer__title{
  font-size: 2rem;
}

h3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyright{
  padding: 1rem;
  margin: auto;
  width: 50%;
  text-align: center;
}

@media(min-width: 600px){
  .header__list{
    margin-left: 30%;
    width: 40%;
  }
  .header__group{
    display: flex;
    flex-direction: row;
  }
  .cart__header__position{
    width: 15%;
    margin-right: 10%;
  }
}
@media(min-width: 900px){
  .footer{
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  .footer__row{
    width: 50%;
  }
}
