header{
  background-color: $color1;
}

h1{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.header__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 16px;
}
strong{
  text-decoration: underline;
  font-weight: normal;
}

.header__item{
  margin-right: 10px;
}

.header__link{
  text-decoration: none;
  color: #000000;
}
.header__link:hover{
  color: #FFFFFF;
}

.header__cart:hover{
  color: #FFFFFF;
}

.header__cart{
  text-decoration: none;
  color: #000000;
}

.cart-image{
  width: 25px;
}

footer{
  background-color: $color2;
  display: block;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__group{
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.footer__list{
  list-style: none;
  padding-bottom: 20px;
}

.footer__link{
  text-decoration: none;
  color: #FFFFFF;
}
.footer__link:hover{
  color: #000000;
}
.footer__item{
  padding-bottom: 10px;
}

h3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyright{
  padding: 1rem;

}
