.index__img {
  width: 100%;
  margin-top: 20px;

}

.image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  main {
    margin: 0 auto;
    max-width: 1450px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .textbox__index{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .text__index{
    margin-top: 20px;
  }

  