.staff__image{
  max-width: 100%;
}

.main__staff{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1450px;
}

.container{
  position: relative;
  left: 0; top:0;
  width: 100vw;
  /*width: 760px;*/
  height: 700px;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.card {
  position: absolute;
  left: 0; top:0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: $transition;
}
.container:hover .card{
  transform: rotateY(180deg);
}
.face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.staff__information{
  text-align: center;
  padding-bottom: 1rem;
}

h2{
  margin-bottom: 1rem;
}

.face.staff__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

/*@media (max-width: 500px){
 display: block;
  .container{
    max-width: 460px;
    width: 100vw;
    height: 100%;
  }
}*/

@media (min-width:600px){

  .container{
    width: 45vw;
  }
}
