@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font: 16px "Open Sans", sans-serif;
  // TODO fleiri grunn stillingar
}


// TODO sækja allar sass skrár
/*@import "scss/...";*/
@import "scss/HeaderFooter";
@import "scss/cart";
@import "scss/index";
@import "scss/course";
@import "scss/buttons";
@import "scss/staff";
@import "scss/products";
